.navbar{
    background-color: #E02381;
    opacity: 0.9;
    
}
.text-center{
    
    background-color:whitesmoke;
    padding-top: 50px;
    margin-top: 50px;
}

#explore-head-section {
    margin-top: 5%;
}

#footer{
    
    margin-top: 5%;
    background-color: whitesmoke;
}


#explore-head-section{
    
    margin-top: 1%;
}

h5{
    
    font-family: sans-serif;
    color: black;
}
.test1{
    color: black;
}
.test2{
    
    
    color: black;
}


.test3{
    
    color: black;
}